@font-face{
    font-family: 'Chihaya';
    src: url(../font/chihayajun.ttf);
}
*{
    font-family: 'Chihaya';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
    overflow: scroll;
}
body::-webkit-scrollbar{
    display: none;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.ul{
    display: flex;
    flex-direction: column;
}
.ul > a > li{
    padding: 10px 5px;
    margin: 10px 5px;
    background-color: #6699cc;
    color: whitesmoke;

}
.ul > a > li:hover{
    color: black;
}
.main-container{
    /* border: 2px solid black; */
    display: flex;
}
.first-container{
    /* border: 2px solid black; */
    flex: 1;
    order: 1;
    background-color: #6699cc;
    padding: 20vh 0px;
    text-align: center;
}
.navbar{
    /* border: 2px solid black; */
    margin: 50% 0px;
}
.second-container{
    background-color: #d8d8d8;
    flex: 4;
    order: 2;
    padding: 30px;
}
#graph-main-container{
    border: 2px solid #f3eeee;
    box-shadow: 5px 5px 10px;
    padding: 10px;
    margin-bottom: 25px;
    /* text-align: center; */
}
#graph-container{
    
}
#question-name{
    /* text-align: center; */
}
#graph{
    /* text-align: center; */
    font-size: 20px;
}
